.bg{
    background-color: black;
}
.display-flex{
    display: flex;
}
.bg1{
    background-color: rgba(57, 55, 55, 0.47);
}
/* nav-style */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 2.5rem;
    color: rgba(230, 83, 60, 1)
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.nav-links{
    border: 1px solid rgb(162, 160, 160);
    border-radius: 39px;
    height: 46px;
    width: 465px;
    align-items: center;
    text-align: center;
    gap: 47px;
}
.home{
    border: 10px solid rgb(230, 83, 60);
    border-radius: 46px;
    background: rgba(230, 83, 60, 1);
    margin-left: -35px;
    color: white;
}
/* header */
.header{
    justify-content: center;
    align-items: center;
    gap: 87.95px;
}
.header-title{
    color: rgba(255, 255, 255, 1);
    font-size: 78px;
    font-weight: bold;
}
.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: italic;
  }
  
.header-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-top: -70px;
}
.btn{
    height: 54px;
    width: 224px;
    border-radius: 42px;
    background-color: rgba(230, 83, 60, 1);
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.btn1{
    height: 54px;
    width: 224px;
    border: 1px solid white;
    border-radius: 42px;
    background-color: rgba(12, 12, 12, 0.037);
    font-size: 18px;
    font-weight: 600;
    color: white;
}
/* change-section */
.change{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.change-title{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.change-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -25px;
}
.chng-box{
    color: white;
}
.change-description1{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -15px;
}
.img-item{
    border-radius: 50%;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* run-section */
.run{
    height: 371px;
    width: 1060px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    gap: 165px;
    margin-left: auto;
    margin-right: auto;
}
.run-title{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.run-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.run-img{
    border-radius: 18px;
    height: 312px;
    width: 366px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .nav-bar,
    .nav-link,
    .header,
    .run{
        flex-direction: column;
    }
    .img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}